@import '../../bower_components/material-design-color-palette/less/material-design-color-palette';
@import '../../node_modules/font-awesome/less/font-awesome';

@import "typo";
@import "colors";
@import "welcome";

body {
  margin: 0;
  padding: 0;
  .ff-primary;
  color: #383838;
}

h1, h2, h3, h4 {
  .ff-secondary;
  //font-weight: 600;
}

.as-hover {
  transition: all 200ms;
  .as-hidden, .as-hidden-d {
    transition: all 200ms;
    display: none;
  }
  &:hover {
    background: @mdc-blue-50;
    .as-hidden {
      display: inline-block;
    }
    .as-hidden-d {
      display: block;
    }
  }
}

.as-hover-opacity {
  transition: all 200ms;
  .as-hidden {
    transition: all 200ms;
    opacity: 0;
  }
  &:hover {
    .as-hidden {
      opacity: 1;
    }
  }
}


.animated-short {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


// links
.link-red {
  color: @mdc-red-200;
  &:hover {
    color: @mdc-red-50;
  }
}

.link-black {
  color: black;
  &:hover {
    text-decoration: none;
    color: @mdc-grey-500;
  }
}