@import url(https://fonts.googleapis.com/css?family=Oswald|Open+Sans:400,400i,600,600i,700,800);

.ff-primary { font-family: 'Open Sans', sans-serif; }
.ff-secondary { font-family: 'Oswald', sans-serif;}
.ff-tertiary { font-family: 'Arial Black', sans-serif; }

.fs1 {font-size: 1em !important;}
.fs12 {font-size: 1.2em !important;}
.fs13 {font-size: 1.3em !important;}
.fs14 {font-size: 1.4em !important;}
.fs15 {font-size: 1.5em !important;}
.fs16 {font-size: 1.6em !important;}
.fs17 {font-size: 1.7em !important;}
.fs18 {font-size: 1.8em !important;}

.fw900 {font-weight: 900;}
.fw800 {font-weight: 800;}
.fw700 {font-weight: 700;}