ul.welcome-menu {

  li.nav-item {
    transition: all 300ms;
    border-bottom: 4px solid white;
    &:hover, &.active {
      border-bottom: 4px solid black;
      a {
        color: black;
      }
    }
    a {
      transition: all 300ms;
      .ff-secondary;
      color: darkgrey;
    }

    // variant
    &.pink {
      border-bottom: 4px solid white;
      &:hover, &.active {
        border-bottom: 4px solid @mdc-pink-500;
        a {
          color: @mdc-pink-500;
        }
      }
      a {
        color: @mdc-pink-200;
      }
    }
  }
}

.welcome-quem-usa-carousel {

  .item {
    img {
      display: inline !important;
      object-fit: cover;
      border-radius: 50%;
    }
    a {
      background: @mdc-pink-500;
      display: inline-flex;
      color: white;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      justify-content: center;
      align-items: center;

      margin: 20px;

      transition: all 300ms;
      &:hover {
        text-decoration: none;
        transform: rotate(25deg) scale(1.2);
      }
    }
  }

}