<template>
    <div id="wrapper">
        <img :src="this.src" :height="height" :width="width">
    </div>
</template>

<script type="text/babel">
    const Imaging = {

        props: {
            src: {required: true},
            width: {},
            height: {}
        },

        mounted() {
        }

    };

    export default Imaging;
</script>

<style lang="less" scoped>

    #wrapper {
        overflow: hidden;
        background: white;
    }

    img {
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-transition: all 400ms;
        -o-transition: all 400ms;
        transition: all 400ms;
        &:hover {
            opacity: 0.5;
            -webkit-transform: scale(1.15,1.15);
            -ms-transform: scale(1.15,1.15);
            transform: scale(1.15,1.15);
        }
    }
</style>